
{% extends 'base.html' %}

{% block content %}

<div class="container-post">
    <article class="post-content">
        <h1>{{ post.title }}</h1>
        <p class="post-date">Дата: {{ post.created_data }}</p>
        <p>{{ post.text }}</p>
    </article>

        {% if user.is_authenticated %}

                <a type="button" {% if is_favorited %} style="display:none" {% endif %} id="favoriteButton" href="{% url 'api_post_favorite' post.id %}?next={% url 'post_detail' post.id %}" class="btn btn-outline-dark">В избранное</a>
                <a type="button" {% if not is_favorited %} style="display:none" {% endif %} id="unfavoriteButton" href="{% url 'api_post_unfavorite' post.id %}?next={% url 'post_detail' post.id %}" class="btn btn-dark" style="color:white">Из избранного</a>

        {% endif %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
  <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
</svg>
<span id="favoritesCount"> {{ post.post_favorites.all|length }} </span>

    <!-- Блок комментариев -->
    <div class="comments-section">
        <h4>Комментарии ({{comments|length}})</h4>
        {% for comment in comments %}
        <div class="comment">
            <p class="comment-author">{{ comment.profile }}</p>
<!--            <p class="comment-date">{{ post.created_data }}</p>-->
            <p class="comment-text">{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Форма добавления комментария -->
    <div class="comment-form">
        <h4>Добавить комментарий</h4>
        <form action="{% url 'post_detail' post.id %}" method="post">
            {% csrf_token %}
            <label for="{{ comment_add_form.text.id_for_label }}">Комментарий</label><br>
            {{ comment_add_form.text }}
            {{ comment_add_form.text.errors }}<br>

            <button type="submit">Отправить</button>
        </form>
    </div>
</div>

{% endblock %}